*{
    margin: 0%;
}
.hahaha{    
    background-color: #240046;
}
.txtmeio{
    background-color: #240046;
    color: white;
    font-size: 45px;
    justify-content: center;
    display: flex;
}
footer{
    height: 40px;
    background-color: #240046;
    display: flex;
    justify-content: center;
    color: white;
    padding: 60px;
    font-size: 20px;
    width: 100%;
}
.linkbox{
    list-style-type: none;
    text-decoration: none;
}
@media screen and (max-width:540px){
    #imgmeio{
        display: none;
    }
}